@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: #dff4f1;
}
.css-sghohy-MuiButtonBase-root-MuiButton-root,
.css-1nclpby-MuiButtonBase-root-MuiButton-root {
  background-color: #4cacbc !important;
  font-weight: 600 !important;
}
.description {
  display: flex;
  flex-direction: column;
  padding: 30px 0;
}
